/* generic */

a {color: #dc3d24;}


/* ### header */
.navbar {
  background-image: url('../images/bg.png');
}

/* ### main */
main {
  min-height: calc(100vh - 200px);
}


/* ### side bar */
aside .btn {border-radius: 5px; display: inline-block; width: auto; margin: 10px;}
.login-buttons {
  text-align: center;
  background-color: #e9ecef;
  padding: 1rem;
  margin-bottom: 2rem;
}
#Form_ProfileForm_Password_Holder .d-none {display: block!important;}
