/* generic */

body {
  overflow-x: hidden;
}

a {color: #dc3d24;}


/* ### header */
body > header:first-child  {
  background-image: url('../images/bg.gif');
}
body > header:first-child .navbar-brand {
  background-image: url('../images/logo.png');
  display: block;
  width: 100%;
  max-width: 300px;
  height: 60px;
  background-repeat: no-repeat;
  text-indent: -10000px;
  background-size: contain;
  margin-top: 1rem;
}
.navbar-dark .navbar-nav .active>.nav-link  {
  color: #dc3d24;
}
.navbar-dark .navbar-nav .nav-link:hover  {
  color: #fff;
}
main {
  min-height: calc(100vh - 200px);
}
.logo-and-breadcrumb-holder {
  margin-bottom: 2rem;
}
/* ### main */
.website-title {
  font-size: calc(0.4rem + 1.5vw);
  background-color: #dc3d24;
  text-align: left;
  margin-bottom: 0rem;
  margin-top: -1.9rem;
  padding: 0.5rem;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
  line-height: 1.3;
}
.website-title span {
  display: block;
  font-size: calc(0.5rem + 0.47vw);
  border-top: 1px solid white;
  width: 320px;
  margin: 0 auto;
  padding: 5px;
}
.breadcrumb-holder .breadcrumb {
  border-radius: 0 0 0.5rem 0.5rem;
}


/* ### side bar */
aside .login-buttons {
  text-align: left;
  padding: 0;
  margin-bottom: 2rem;
  margin-top: -1rem;
}
aside .login-buttons .btn {
  border-radius: 5px;
  display: inline-block;
  width: auto;
  margin: 10px;
  color: #fff;
}
aside .login-buttons .btn:first-child {
  margin-left: 0;
}
aside ul,
aside li {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}


/* ### footer */
.sharethis  {margin-top: 2rem;}
.sharethis i {font-size: 1.7rem; margin: 0 0.3rem; }
.sharethis i:hover {color: #dc3d24;}

.event-calendar-events-list ul,
.event-calendar-events-list li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.event-calendar-events-list li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3rem;
}
.dates-and-regions {
  line-height: 2;
}
.dates-and-regions a {
  background-color: #e9ecef;
  border-radius: 10px;
  display: inline-block;
  padding: 0 1rem;
  color: #000;
  margin: 5px 0;
}


.event-calendar-month-jumper .fields {width: 80%!important; float: left;}
.event-calendar-month-jumper .field.dropdown {width: calc(50% - 10px)!important; float: left; margin-right: 10px; }
.event-calendar-month-jumper .actions {width: 19%!important; display: inline-block;}
.event-calendar-feed {font-size: 0.7rem; clear: both;}

.blog-post-meta {
  font-size: 0.7rem;
}
.blog-post-meta a {
  color: inherit;
  text-decoration: underline;
}

.userform input,
.userform select,
.userform textarea
{
  width: 100%;
}
.userform .Actions {
  padding-top: 2rem;
}

.userform .Actions input {
  display: inline-block;
  width: auto;
}

.col-lg-9,
.col-md-9 {
  padding-right: 7%;
}

.col-md-9 form {
  margin: 10px auto!important;
  background-color: #e9ecef;
  padding: 2rem calc(100% - 600px);
}


.post-image {
  max-width: 320px;
  float: right;
}
.post-image img {
  max-width: 320px;
  height: auto;
}
.post-summary {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.post-summary h2 {
  clear: both;
}

main .col-md-9 {
  padding-right: 5rem;
}

.search {
  padding-bottom: 1rem;
}
.searchResultsHeader {
  font-size: 1rem;
}
.searchEngineResultItem {
  position: relative;
  margin-left: 1.6rem;
}
#SearchEngineBasicForm_SearchEngineBasicForm_SearchEngineKeywords_Holder label{
  display: none;
}

#SearchEngineBasicForm_SearchEngineBasicForm {
  position: relative;
}
#SearchEngineBasicForm_SearchEngineBasicForm .actions {
  position: absolute;
  top: 0;
  right: 0;
}

.dealertitle {
  padding-top: 3rem;
  list-style: none;
}

.pagination span, .pagination a {display: inline-block; padding: 0 5px;}


/* #mailchimp-signup-form .form-group {display: none;}
#mailchimp-signup-form #mailchimp-signup-form_EMAIL_Holder {display: block;}
#mailchimp-signup-form #mailchimp-signup-form_FNAME_Holder {display: block;}
#mailchimp-signup-form #mailchimp-signup-form_LNAME_Holder {display: block;} */

.content img {
  max-width: 100%!important;
  height: auto!important;
}

.btn-primary,
.btn-primary
 {
  background-color: #dc3d24!important;
  border-color: #dc3d24!important;
}

.searchEnginePageInfo a:link,
.searchEnginePageInfo a:visited
 {
  color: #000;
  display: inline-block;
  padding: 0 5px;
}

.searchEnginePageInfo a.current {
  color: #dc3d24;
}
